@font-face {
  font-family: "Helvetica-Neue";
  src:
    local("Helvetica-Neue"),
    url("./fonts/HelveticaNeue.ttc") format("ttc");
}

@font-face {
  font-family: "Muli-Regular";
  src:
    local("Muli-Regular"),
    url("./fonts/Muli.ttf") format("ttf");
}

@font-face {
  font-family: "Muli-Bold";
  src:
    local("Muli-Bold"),
    url("./fonts/Muli-Bold.ttf") format("ttf");
}
