@font-face {
    font-family: 'PoetsenOne-Regular';
    src: local('PoetsenOne-Regular'),
         url('./fonts/PoetsenOne-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: local('Helvetica-Neue'),
         url('./fonts/HelveticaNeue.ttc') format('ttc'),
}